.header {
    @include w-h (100%, auto);

    .nav-belt {
        @include w-h (100%, auto);
        background-color: $bg-color1;

        .logo {
            @include w-h (115px, 55px);
            margin-left: 15px;

            img {
                @include w-h (110px, 60px);
                padding: 0;
            }

            &:hover {
                border: 1px solid white
            }
        }

        .deliver {
            @include flex (flex, center, center);
            color: $color1;
            @include w-h (auto, 55px);
            padding: 0px 5px;

            .local {

                i {
                    font-size: 18px;
                }
            }

            .deliver-to {
                @include font-color (12px, 400, 14px);
                color: #cccccc
            }

            .location {
                @include font-color (14px, 700, 15px);
            }

            &:hover {
                border: 1px solid white
            }
        }

        .nav-fill {
            flex-grow: 1;
            background-color: #fff;
            @include flex (flex, auto, center);
            border-radius: 5px;
            margin: 0px 10px;

            .search-list {
                border-radius: 5px 0px 0px 5px;
                @include w-h (50px, 35px);
                padding-left: 0px;
                padding-right: 0px;
                border: none;
                outline: none;
                background-color: $color3;

                &:focus {
                    border: 3px solid $color2;
                }

            }

            .search-input {
                height: 35px;
                padding-left: 0px;
                padding-right: 0px;
                border: none;
                outline: none;
                flex-grow: 1;

                &:focus {
                    border: 3px solid $color2;

                }

            }

            .search-field {
                @include w-h (35px, 35px);
                background-color: #fff;
                @include flex (flex, center, center);

                &:focus {
                    border: 3px solid $color2;
                }

                img {
                    @include w-h (70%, 70%);
                }
            }

            .search-btn {
                @include flex (flex, center, center);
                @include w-h (45px, 35px);
                background-color: $color2;
                border-radius: 0px 5px 5px 0px;

            }

        }

        .nav-tools {
            @include w-h (380px, 60px);
            @include flex (flex, auto, center);

            .change-language {
                @include w-h (90px, 55px);
                @include flex (flex, center, center);
                font-size: 12px;
                @include style-dropdown-languages;

                &:hover {
                    border: 1px solid white
                }

            }

            .signin {
                @include w-h (122px, 55px);
                @include flex (flex, center, center);

                &:hover {
                    border: 1px solid white
                }

                @include style-navtools;

                &:hover .dropdown-menu {
                    display: block
                }

                .dropdown-menu {
                    @include w-h (350px, auto);
                    margin-left: -150px;
                    margin-top: 20px;

                    .see-recommendations {
                        @include flex (flex, center, center);
                        flex-direction: column;
                        @include font-color (10px, 400, 15px);
                        @include recommendations
                    }

                    .your-list-account {
                        @include flex (flex, auto, auto);
                        @include w-h (100%, auto);
                        margin-left: 20px;

                        .account {
                            border-left: 1px solid grey;
                            padding-left: 20px;
                            @include w-h (60%, auto);
                        }

                        .list {
                            @include w-h (40%, auto);
                        }

                        .list,
                        .account {
                            @include flex (flex, auto, auto);
                            flex-direction: column;

                            p {
                                @include font-color (12px, 700, 15px);
                                color: $color4;
                                margin: 0;
                            }

                            a {
                                @include font-color (11px, 400, 18px);

                                color: $color4;

                                &:hover {
                                    color: $color14
                                }
                            }
                        }
                    }
                }

            }

            .order-return {
                @include w-h (85px, 55px);
                @include flex (flex, center, center);

                &:hover {
                    border: 1px solid white
                }

                @include style-navtools;
            }

            .cart {
                @include w-h (85px, 55px);
                @include flex (flex, center, center);
                position: relative;

                &:hover {
                    border: 1px solid white
                }

                i {
                    font-size: 25px;
                    color: $color1
                }

                @include style-navtools;

                .bell {
                    position: absolute;
                    left: 22px;
                    top: 5px;

                    i {
                        color: $color2;
                        font-size: 15px;

                    }
                }
            }

        }

    }

    .menu {
        @include w-h (100%, 40px);
        background-color: $bg-color2;
        @include flex (flex, auto, center);

        .menu_left {
            position: relative;
            @include w-h (50px, 36px);
            @include flex (flex, center, center);
            margin-left: 20px;

            &:hover {
                border: 1px solid white;
            }

            input {
                display: none;
            }

            #cancel:checked~.sidebar {
                visibility: visible;
                width: 1500px;
            }

            #cancel-1:checked~.sidebar {
                visibility: hidden;
                width: 0px;
            }

            .title {
                padding-top: 7px;
                @include font-color (14px, 700, 15px);
                color: $color1;

                i {
                    padding-right: 4px
                }
            }

            .sidebar {
                @include w-h (300px, 100vh);
                @include flex (flex, auto, auto);
                position: absolute;
                top: -65px;
                left: -21px;
                z-index: 3;
                background-color: rgba(0, 0, 0, 0.7);
                visibility: hidden;
                transition: width 2s;

                .wrap-sidebar_list {
                    @include w-h (280px, 100vh);
                    @include flex (flex, auto, auto);
                    overflow: hidden
                }

                #cancel-inner1:checked~.sidebar_list {
                    margin-left: -110%
                }

                #cancel-inner2:checked~.sidebar_list {
                    margin-left: -215%
                }

                #cancel-inner3:checked~.sidebar_list {
                    margin-left: -320%
                }

                #cancel-inner1-1:checked~.sidebar_list {
                    margin-left: 0px;
                }

                #cancel-inner2-1:checked~.sidebar_list {
                    margin-left: 0px;
                }

                .sidebar_list,
                .sidebar_list-inner {
                    @include w-h (100%, 100%);
                    background-color: $bg-color3 ;
                    overflow: scroll;

                    .sb_list_title {
                        @include font-color (19px, 700, 25px);
                        color: $color1;
                        @include flex (flex, center, center);
                        @include w-h (252px, 50px);
                        background-color: $bg-color2 ;
                        margin-bottom: 5px;
                        position: fixed;

                        i {
                            font-size: 23px;
                            margin-right: 5px;
                        }
                    }

                    .title1 {
                        @include font-color (14px, 600, 16px);
                        padding-top: 30px;
                        margin: 5px;
                    }

                    .sb_list_item {
                        margin-top: 60px;
                        @include w-h (255px, 50px);

                        li {
                            @include w-h (100%, auto);
                            list-style-type: none;
                            @include font-color (17px, 700, 24px);
                            color: $bg-color2 ;
                            opacity: 0.9;

                            label {
                                padding: 7px;
                                margin: 0;
                            }

                            a,
                            label {
                                text-decoration: none;
                                font-size: 14px;
                                line-height: 16px;
                                font-weight: 400;
                                color: #111111;
                                opacity: 0.9;

                                &:hover {
                                    background-color: grey
                                }

                            }

                        }

                        .item_space a {
                            @include flex (flex, space-between, auto);
                        }

                        .item_space label {
                            @include flex (flex, space-between, auto);
                        }
                    }

                }

                .sidebar_cancel {
                    @include w-h (30px, auto);
                    @include flex (flex, center, auto);
                    @include font-color (19px, 700, 25px);
                    color: $color1 ;
                }
            }


        }

        div {
            a {
                @include w-h (auto, 36px);
                padding: 5px;
                text-decoration: none;
                @include font-color (14px, 400, 12px);
                @include flex (flex, auto, center);
                color: $color5;
                margin-right: 5px;

                &:hover {
                    border: 1px solid white
                }
            }
        }




    }
}