.header {
    @include w-h (100%, 100px);
    padding: 0;

    .nav-belt {
        @include w-h (100%, 60px);
        background-color: $bg-color1;

        .logo {
            @include w-h (115px, 55px);
            margin-left: 15px;

            img {
                @include w-h (110px, 60px);
                padding: 0;
            }

            &:hover {
                border: 1px solid white
            }
        }

        .deliver {
            @include flex (flex, center, center);
            color: $color1;
            @include w-h (auto, 55px);
            padding: 0px 5px;

            .local {

                i {
                    font-size: 18px;
                }
            }

            .deliver-to {
                @include font-color (12px, 400, 14px);
                color: #cccccc
            }

            .location {
                @include font-color (14px, 700, 15px);
            }

            &:hover {
                border: 1px solid white
            }
        }

        .nav-fill {
            // flex-grow: 1;
            width: 500px;
            background-color: #fff;
            @include flex (flex, auto, center);
            border-radius: 5px;
            margin: 0px 10px;

            .search-list {
                border-radius: 5px 0px 0px 5px;
                @include w-h (50px, 35px);
                padding-left: 0px;
                padding-right: 0px;
                border: none;
                outline: none;
                background-color: $color3;

                &:focus {
                    border: 3px solid $color2;
                }

            }

            .search-input {
                height: 35px;
                padding-left: 0px;
                padding-right: 0px;
                border: none;
                outline: none;
                flex-grow: 1;

                &:focus {
                    border: 3px solid $color2;

                }

            }

            .search-field {
                @include w-h (35px, 35px);
                background-color: #fff;
                @include flex (flex, center, center);

                &:focus {
                    border: 3px solid $color2;
                }

                img {
                    @include w-h (70%, 70%);
                }
            }

            .search-btn {
                @include flex (flex, center, center);
                @include w-h (45px, 35px);
                background-color: $color2;
                border-radius: 0px 5px 5px 0px;

            }

        }

    }

    .menu {
        @include w-h (100%, 40px);
        background-color: $bg-color2;

    }
}