.header {
    @include w-h (100%, 100px);
    padding: 0;

    .nav-belt {
        @include w-h (100%, 60px);
        background-color: $bg-color1;

        .logo {
            @include w-h (115px, 55px);
            margin-left: 15px;

            img {
                @include w-h (110px, 60px);
                padding: 0;
            }

            &:hover {
                border: 1px solid white
            }
        }

        .deliver {
            @include flex (flex, center, center);
            color: $color1;
            @include w-h (auto, 55px);
            padding: 0px 5px;

            .local {

                i {
                    font-size: 18px;
                }
            }

            .deliver-to {
                @include font-color (12px, 400, 14px);
                color: #cccccc
            }

            .location {
                @include font-color (14px, 700, 15px);
            }

            &:hover {
                border: 1px solid white
            }
        }

        .nav-fill {
            flex-grow: 1;
            background-color: #fff;
            @include flex (flex, auto, center);
            border-radius: 5px;
            margin: 0px 10px;

            .search-list {
                border-radius: 5px 0px 0px 5px;
                @include w-h (50px, 35px);
                padding-left: 0px;
                padding-right: 0px;
                border: none;
                outline: none;
                background-color: $color3;

                &:focus {
                    border: 3px solid $color2;
                }

            }

            .search-input {
                height: 35px;
                padding-left: 0px;
                padding-right: 0px;
                border: none;
                outline: none;
                flex-grow: 1;

                &:focus {
                    border: 3px solid $color2;

                }

            }

            .search-field {
                @include w-h (35px, 35px);
                background-color: #fff;
                @include flex (flex, center, center);

                &:focus {
                    border: 3px solid $color2;
                }

                img {
                    @include w-h (70%, 70%);
                }
            }

            .search-btn {
                @include flex (flex, center, center);
                @include w-h (45px, 35px);
                background-color: $color2;
                border-radius: 0px 5px 5px 0px;

            }

        }

        .nav-tools {
            @include w-h (380px, 60px);
            @include flex (flex, auto, center);

            .change-language {
                @include w-h (73px, 55px);
                @include flex (flex, center, center);
                font-size: 12px;

                a {
                    text-decoration: none;
                    color: $color1 ;
                }

                &:hover {
                    border: 1px solid white
                }

                .language-select {
                    position: relative;
                    @include font-color (12px, 400, 14px);

                    &:hover .languages {
                        visibility: visible;
                    }

                    .languages {
                        position: absolute;
                        @include w-h (200px, auto);
                        display: flex;
                        flex-direction: column;
                        padding-left: 5px;
                        margin-top: 10px;
                        margin-left: -30px;
                        font-size: 12px;
                        color: #0f1111;
                        background-color: $bg-color3;
                        visibility: hidden;

                        .circle-1 {
                            border: 1px solid grey;
                            @include w-h (15px, 15px);
                            border-radius: 50%;
                            @include flex (flex, center, center);
                            background-color: bg-color3;
                            margin-right: 5px;

                            .circle-2 {
                                background-color: $color2;
                                @include w-h (7px, 7px);
                                border-radius: 50%;
                            }

                        }

                        .circle-3 {
                            border: 1px solid grey;
                            @include w-h (15px, 15px);
                            border-radius: 50%;
                            @include flex (flex, center, center);
                            background-color: bg-color3;
                            margin-right: 5px;

                            .circle-4 {
                                background-color: $color2;
                                @include w-h (7px, 7px);
                                border-radius: 50%;
                                visibility: hidden;
                            }

                            &:hover .circle-4 {
                                visibility: visible
                            }

                        }

                    }
                }

            }

            .signin {
                @include w-h (122px, 55px);
                @include flex (flex, center, center);

                &:hover {
                    border: 1px solid white
                }

                @include style-navtools;

            }

            .order-return {
                @include w-h (85px, 55px);
                @include flex (flex, center, center);

                &:hover {
                    border: 1px solid white
                }

                @include style-navtools;
            }

            .cart {
                @include w-h (85px, 55px);
                @include flex (flex, center, center);

                &:hover {
                    border: 1px solid white
                }

                i {
                    font-size: 25px;
                    color: $color1
                }

                @include style-navtools;
            }

        }

    }

    .menu {
        @include w-h (100%, 40px);
        background-color: $bg-color2;
        @include flex (flex, auto, center);
        padding: 0px 20px;

        .menu_left {
            position: relative;
            @include w-h (50px, 36px);
            @include flex (flex, center, center);

            &:hover {
                border: 1px solid white
            }

            &:hover .sidebar {
                visibility: visible;
                width: 1300px;
            }

            .title {
                text-decoration: none;
                @include font-color (14px, 700, 15px);
                color: $color1;

                i {
                    padding-right: 4px
                }
            }

            .sidebar {
                @include w-h (0px, 100vh);
                @include flex (flex, auto, auto);
                position: absolute;
                top: -65px;
                left: -5px;
                z-index: 3;
                background-color: rgba(0, 0, 0, 0.1);
                visibility: hidden;
                transition: width 1s;

                .sidebar_list {
                    @include w-h (270px, auto);
                    background-color: $bg-color3 ;
                    overflow: scroll;

                    .sb_list_title {
                        @include font-color (19px, 700, 25px);
                        color: $color1;
                        @include flex (flex, center, center);
                        @include w-h (255px, 50px);
                        background-color: $bg-color2 ;
                        margin-bottom: 5px;
                        position: fixed;

                        i {
                            font-size: 23px;
                            margin-right: 5px;
                        }
                    }

                    .sb_list_item {
                        margin-top: 60px;

                        li {
                            list-style-type: none;
                            @include font-color (17px, 700, 24px);
                            color: $bg-color2 ;
                            opacity: 0.9;
                            padding: 5px 0px 5px 15px;

                            a {
                                text-decoration: none;
                                font-size: 14px;
                                line-height: 16px;
                                font-weight: 400;
                                color: #111111;
                                opacity: 0.9;

                                &:hover {
                                    background-color: grey
                                }

                            }

                        }

                        .item_space a {
                            @include flex (flex, space-between, auto);
                        }
                    }
                }

                .sidebar_cancel {
                    @include w-h (30px, auto);
                    @include flex (flex, center, auto);
                    @include font-color (19px, 700, 25px);
                    color: $color1 ;
                    z-index: 5;
                }
            }


        }

        div {
            a {
                @include w-h (auto, 36px);
                padding: 5px;
                text-decoration: none;
                @include font-color (14px, 400, 12px);
                @include flex (flex, center, center);
                color: $color5;
                margin-right: 5px;

                &:hover {
                    border: 1px solid white
                }
            }
        }




    }
}