@mixin w-h ($w, $h) {
    width: $w;
    height: $h;
}

@mixin w-h-product {
    width: 100%;
    height: 380px;
}

@mixin font-color ($size, $weight, $l-hieght) {
    font-family: "Amazon Ember", Arial, sans-serif;
    font-size: $size;
    font-weight: $weight;
    line-height: $l-hieght;
}

@mixin flex ($flex, $center, $alight) {
    display: $flex;
    justify-content: $center;
    align-items: $alight;
}

@mixin style-navtools {
    a {
        text-decoration: none;

        .signin_1 {
            @include font-color (12px, 400, 12px);
            color: #cccccc
        }

        .signin_2 {
            @include font-color (14px, 700, 13px);
            color: $color1
        }
    }
}

@mixin style-dropdown-languages {
    .dropdown {
        .more {
            @include font-color (13px, 400, 18px);
            color: $color5 ;

            span {
                padding-right: 3px;
            }

            &:hover {
                text-decoration: none;
            }

        }

        &:hover .dropdown-menu {
            display: block;
        }

        .dropdown-menu {
            @include w-h (250px, auto);

            .dropdown-item {
                @include font-color (12px, 400, 18px);
                @include flex (flex, auto, center);
                color: $color4;

                .link-item {
                    @include font-color (10px, 400, 0px);
                    color: $color7;
                    padding-left: 5px
                }

                .link-item1 {
                    @include font-color (10px, 400, 0px);
                    color: blue;
                    padding-left: 50px;
                }

                .circle-1 {
                    border: 1px solid grey;
                    @include w-h (15px, 15px);
                    border-radius: 50%;
                    @include flex (flex, center, center);
                    background-color: $bg-color3;
                    margin-right: 5px;

                    .circle-2 {
                        background-color: $color2;
                        @include w-h (7px, 7px);
                        border-radius: 50%;
                    }

                }

                .circle-3 {
                    border: 1px solid grey;
                    @include w-h (15px, 15px);
                    border-radius: 50%;
                    @include flex (flex, center, center);
                    background-color: bg-color3;
                    margin-right: 5px;

                    .circle-4 {
                        background-color: $color2;
                        @include w-h (7px, 7px);
                        border-radius: 50%;
                        visibility: hidden;
                    }

                    &:hover .circle-4 {
                        visibility: visible
                    }

                }
            }

            .language-item {
                @include w-h (200px, auto);
                display: flex;
                flex-direction: column;
                padding-left: 5px;
                color: #0f1111;
                background-color: $bg-color3;
                z-index: 10;

                .circle-1 {
                    border: 1px solid grey;
                    @include w-h (15px, 15px);
                    border-radius: 50%;
                    @include flex (flex, center, center);
                    background-color: $bg-color3;
                    margin-right: 5px;

                    .circle-2 {
                        background-color: $color2;
                        @include w-h (7px, 7px);
                        border-radius: 50%;
                    }

                }

                .circle-3 {
                    border: 1px solid grey;
                    @include w-h (15px, 15px);
                    border-radius: 50%;
                    @include flex (flex, center, center);
                    background-color: bg-color3;
                    margin-right: 5px;

                    .circle-4 {
                        background-color: $color2;
                        @include w-h (7px, 7px);
                        border-radius: 50%;
                        visibility: hidden;
                    }

                    &:hover .circle-4 {
                        visibility: visible
                    }

                }

            }
        }

    }
}

@mixin style-product-1 {
    .title {
        @include font-color (21px, 700, 27px);
        @include w-h (100%, 60px);
        @include flex (flex, auto, center);
        color: $color4;
        padding-left: 13px;
    }

    .image {
        flex-grow: 1;
        @include w-h (100%, 260px);
        text-align: center;
        overflow: hidden;


        img {
            @include w-h (90%, 260px);
            transition: transform 2s linear;
            object-fit: cover;

            &:hover {
                transform: scale(1.2)
            }
        }
    }

    .connect {
        @include font-color (13px, 400, 17px);
        @include w-h (100%, 60px);
        @include flex (flex, auto, center);
        padding-left: 13px;

        a {
            color: $color7 ;
            text-decoration: none;

            &:hover {
                color: $color6
            }
        }

    }
}

@mixin style-product-2 {
    .title {
        @include font-color (21px, 700, 27px);
        @include w-h (100%, 60px);
        @include flex (flex, auto, center);
        color: $color4;
        padding-left: 13px;
    }

    .product {
        @include w-h (100%, 280px);
        @include flex (flex, auto, center);
        flex-wrap: wrap;
        padding: 0px 10px 0px 10px;

        .product_detail {
            @include w-h (50%, 50%);
            @include flex (flex, auto, center);
            flex-direction: column;
            flex-wrap: wrap;

            .product_image {
                @include w-h (100%, 110px);
                @include flex (flex, center, center);
                flex-wrap: wrap;
                overflow: hidden;

                img {
                    @include w-h (100%, 110px);
                    transition: transform 2s linear;
                    object-fit: cover;

                    &:hover {
                        transform: scale(1.2)
                    }
                }

            }

            .saveoff {
                @include w-h (100%, 30px);
                @include flex (flex, start, center);
                padding-left: 8px;

                .save_off {
                    @include font-color (12px, 400, 16px);
                    color: $color1;
                    background-color: $color8;
                    padding: 4px 10px;
                    border-radius: 3px;
                    margin-right: 5px;
                }

                .deal {
                    @include font-color (12px, 700, 16px);
                    color: $color8;
                }
            }
        }

    }

    .connect {
        @include font-color (13px, 400, 17px);
        @include w-h (100%, 40px);
        @include flex (flex, auto, center);
        padding-left: 13px;

        a {
            color: $color7 ;
            text-decoration: none;

            &:hover {
                color: $color6
            }
        }

    }
}

@mixin style-product-3 {
    .title {
        @include font-color (21px, 700, 27px);
        @include w-h (100%, 60px);
        @include flex (flex, auto, center);
        color: $color4;
        padding-left: 13px;
    }

    .product {
        @include w-h (100%, 280px);
        @include flex (flex, auto, center);
        flex-wrap: wrap;
        padding: 0px 10px 0px 10px;

        .product_detail {
            @include w-h (50%, 50%);
            @include flex (flex, auto, center);
            flex-direction: column;
            flex-wrap: wrap;

            .product_image {
                @include w-h (100%, 110px);
                @include flex (flex, center, center);
                flex-wrap: wrap;
                overflow: hidden;

                img {
                    @include w-h (90%, 110px);
                    transition: transform 2s linear;
                    object-fit: cover;

                    &:hover {
                        transform: scale(1.2)
                    }
                }

            }

            .title_p1 {
                @include w-h (100%, 30px);
                @include flex (flex, start, center);
                padding-left: 8px;
                @include font-color (13px, 400, 17px);
                color: $color4;

                &:hover {
                    text-decoration: none
                }
            }

        }
    }

    .connect {
        @include font-color (13px, 400, 17px);
        @include w-h (100%, 40px);
        @include flex (flex, auto, center);
        padding-left: 13px;

        a {
            color: $color7 ;
            text-decoration: none;

            &:hover {
                color: $color6
            }
        }

    }
}

@mixin style-product-slide1 {
    .carousel {
        @include w-h (100%, 250px);
        @include flex (flex, center, center);

        .carousel-inner {
            @include w-h (100%, 250px);
            background-color: $color1;

            .title {
                @include font-color (21px, 700, 32px);
                color: $color4;
                @include w-h (100%, auto);
            }

            .carousel-item {
                .images {
                    @include w-h (100%, 200px);
                    @include flex (flex, center, center);
                    background-color: $color1;
                    overflow: hidden;

                    img {
                        @include w-h (auto, 220px);
                        padding-right: 10px;
                    }
                }

            }
        }


        .btn-style {
            @include w-h (60px, 100px);
            border-radius: 5px;
            top: 80px;
            margin-left: 20px;
            margin-right: 20px;

            &:hover {
                background-color: $color7;
            }
        }

    }
}