@import"mixin";
@import"variable";
@import"header";
@import"main";
@import"footer";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Family "Amazon Ember",
        Arial,
        sans-serif;
    ;
}

.wh-100 {
    width: 70px;
    height: 240px;
    border-radius: 5px;

    &:hover {
        border: 1px solid blue;
    }
}